body{
    font-size:16px;
    font-family: arial, sans-serif; 
}

.navbar{
    font-size:0.875em;
    
}

a{
  color:#a99c9c;  
}

a:hover{
    
    color:#ed7d1e;
}

.navbar-nav li a:hover {
    
background-color:transparent;
}

.josh{
/*    color:darkorange;    */
font-size:2.5em;
}

.orange{
color:darkorange;    

}

.herobg{
    background:url(images/header-bg.jpg);
    background-size: cover;
    
}

.herobg h1{
    float:right;
    color:#ffff;
    width:341px;
    font-size:7.1em;
    letter-spacing: -10px;
    font-weight:800;
    line-height:75%;
    margin-top: 140px;
    text-align: right;
    padding-bottom:10%;
}